* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #030303;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  /*   position: sticky; */
  background: linear-gradient(#fff 50%, #f23030, #fff 55%);
  background-color: white;
  z-index: 1000;
}
.headerwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.headerwrap-left {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
}
.headerwrap-right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
}
#logo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px 50px 20px 20px;
  box-shadow: 0 5px 5px #590202;
}
#logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.menu {
  width: 150px;
  height: 100px;
  margin: 20px 0;
  padding-top: 10px;
}
.menu > ul {
  list-style: none;
  width: 150px;
  height: 100px;
  position: flex;
  cursor: pointer;
}
.menu > ul li {
  width: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid #590202;
}
@keyframes sky_on {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.menu ul {
  animation-name: sky_on;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#menu2 ul {
  animation-delay: 0.5s;
}
#menu3 ul {
  animation-delay: 1s;
}
#menu4 ul {
  animation-delay: 1.5s;
}
#menu5 ul {
  animation-delay: 2s;
}
#menu6 ul {
  animation-delay: 2.5s;
}
.menu ul:hover {
  animation-play-state: paused;
}
.menu ul li:first-child {
  visibility: visible;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(#590202, #fff 80%);
  width: 150px;
  height: 100px;
}
.menu:hover ul li {
  width: 150px;
  height: 100px;
  visibility: visible;
  color: #fff;
  background: linear-gradient(#590202 30%, #fff);
  transition-property: height, top;
  transform: translate(0, -10px);
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid #590202;
}
.menu:hover ul li:nth-child(1) {
  transition: transform 0.5s;
}
.menu:hover ul li:nth-child(2) {
  transition-duration: 0.5s;
}
.menu:hover ul li:nth-child(3) {
  transition-duration: 1s;
}
.menu:hover ul li:nth-child(4) {
  transition-duration: 1.5s;
}
.menu:hover ul li:nth-child(5) {
  transition-duration: 2s;
}
.menu:hover ul li:nth-child(6) {
  transition-duration: 2.5s;
}
.footer {
  display: flex;
  width: 100%;
  height: 300px;
  border-top: 2px solid #f23030;
  box-shadow: 0 -3px 5px #f23030;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: space-around;
  align-items: center;
}
.footlogo {
  height: 100%;
  box-shadow: 0.1rem 0.3rem 0.3rem #590202;
  display: flex;
}
.footlogo > img {
  max-width: fit-content;
  height: 100%;
}
.footwrap p {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  text-shadow: 0.2rem 0.3rem 0.3rem #590202;
}
.footportal {
  width: 400px;
  height: 100%;
  left: 80%;
}
.footsns {
  width: 100%;
  margin: 5px;
}
.footsns p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.3rem 0.3rem 0.3rem #590202;
}
.footimgwrap a img {
  margin: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.footemail p {
  color: #000;
}
.main {
  width: 100vw;
  height: 700px;
  position: relative;
  padding-top: 160px;
}
.main_b {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px 5px #f23030;
}
.main_b_b {
  width: 25px;
  height: 25px;
  border-radius: 15px 50px 15px 50px;
  /*   background: linear-gradient(
    45deg,
    rgb(139, 186, 142),
    rgb(236, 228, 177),
    rgb(139, 186, 142)
  ); */
  background-color: rgb(220, 244, 181);
  margin: 0 30px;
  cursor: pointer;
}
.main_b_b.click {
  transition: all 1s;
  /*   background: linear-gradient(
    45deg,
    rgb(83, 4, 4) 42%,
    rgb(1, 1, 1) 50%,
    rgb(83, 4, 4) 58%
  ); */
  background-color: #590202;
  width: 30px;
  height: 30px;
  border-radius: 20px 50px 20px 50px;
}
.main_p {
  width: 100vw;
  height: 640px;
  position: relative;
  box-shadow: 0 -3px 5px #f23030;
}
.main_p ul {
  list-style: none;
  width: 100vw;
  height: 640px;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
}
.main_btn {
  position: absolute;
  cursor: pointer;
  opacity: 0.1;
  z-index: 999;
  top: 50%;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
.main_btn:hover {
  transition: 1s;
  opacity: 1;
}
.main_ul_wrap {
  width: 100vw;
  height: 100%;
  display: flex;
  transition: all 2s;
}
.main_p ul li {
  min-width: 100vw;
  min-height: 640px;
  display: flex;
}
.main_item {
  min-width: 50vw;
  height: 640px;
}
.main_i_wrap {
  min-width: 50vw;
  height: 640px;
  display: inline-flex;
  flex-direction: column;
}

.main_item > div {
  width: 50%;
  height: 640px;
  box-shadow: 0 -3px 5px #f23030;
}
.main_item > div > img {
  width: 100%;
  height: 640px;
  box-shadow: 0 -3px 5px #f23030;
}
.main_i_title {
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.title1 {
  padding-top: 40px;
  height: 200px;
  line-height: 30px;
}
.title1 div h1 {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: silver;
  text-shadow: 0 2px 3px #260101;
}
.title1 div h2 {
  color: antiquewhite;
}
.title2 {
  height: 440px;
  font-size: 15px;
}

.post {
  position: relative;
  width: 100vw;
  padding: 160px 10px 10px 10px;
  height: 1500px;
}
.p_search {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f23030;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: -1px -3px 1px #590202;
}
.p_search > .p_s_open {
  position: absolute;
  top: 40%;
  left: 25%;
}
.p_search .oracle {
  position: absolute;
  top: -1px;
  right: 0;
  height: 100px;
  width: 20px;
  border-radius: 20px;
  border-left: 1px solid black;
  box-shadow: -2px -1px 1px #590202;
  background: linear-gradient(90deg, #f21030 20%, #fff, #f23030 70%);
}
.p_search .oracle div {
  position: absolute;
  right: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #f23030 90%);

  /*   border-radius: 0 0 30px 30px; */
}
.p_search:hover {
  transition: all 2s linear;
  width: 90%;
  height: 100px;
  box-shadow: 0 -2px 1px #000;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(7200deg);
  }
  100% {
    transform: rotateY(14400deg);
  }
}
.p_search:hover .oracle {
  animation: rotation 1s;
  border-left: 1px solid black;
  box-shadow: -2px -2px 1px #590202;
}
.postmain {
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #d94141;
}
.p_num {
  width: 10%;
  height: 50px;
  padding: 10px;
  margin: 10px 0 0 10px;
  border: 1px solid #000;
}
.p_name {
  width: 50%;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
}
.p_admin {
  width: 14%;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
}
.p_date {
  width: 14%;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
}
.p_look {
  width: 10%;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
}
.p_main {
  width: 99%;
  height: 600px;
  margin: 0 10px 10px 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.p_buttonwrap {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid #fff;
  justify-content: space-between;
}
.p_btn_1 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.p_btn_2 {
  min-width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
}
.p_btn {
  text-align: center;
  cursor: pointer;
  width: 20%;
  padding-top: 5px;
  margin: 10px;
  border: 1px solid #000;
  background-color: lightgray;
  color: #000;
}
#p_ok {
}
#p_change {
}
#p_cancel {
  width: 50%;
}
#p_exit {
}
