* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #030303;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  /*   position: sticky; */
  background: linear-gradient(#fff 50%, #f23030, #fff 55%);
  background-color: white;
  z-index: 1000;
}
.headerwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.headerwrap-left {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
}
.headerwrap-right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
}
#logo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px 50px 20px 20px;
  box-shadow: 0 5px 5px #590202;
}
#logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.menu {
  width: 150px;
  height: 100px;
  margin: 20px 0;
  padding-top: 10px;
}
.menu > ul {
  list-style: none;
  width: 150px;
  height: 100px;
  position: flex;
  cursor: pointer;
}
.menu > ul li {
  width: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid #590202;
}
@keyframes sky_on {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.menu ul {
  animation-name: sky_on;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#menu2 ul {
  animation-delay: 0.5s;
}
#menu3 ul {
  animation-delay: 1s;
}
#menu4 ul {
  animation-delay: 1.5s;
}
#menu5 ul {
  animation-delay: 2s;
}
#menu6 ul {
  animation-delay: 2.5s;
}
.menu ul:hover {
  animation-play-state: paused;
}
.menu ul li:first-child {
  visibility: visible;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(#590202, #fff 80%);
  width: 150px;
  height: 100px;
}
.menu:hover ul li {
  width: 150px;
  height: 100px;
  visibility: visible;
  color: #fff;
  background: linear-gradient(#590202 30%, #fff);
  transition-property: height, top;
  transform: translate(0, -10px);
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid #590202;
}

.menu:hover ul li:nth-child(1) {
  transition: transform 0.5s;
}
.menu:hover ul li:nth-child(2) {
  transition-duration: 0.5s;
}
.menu:hover ul li:nth-child(3) {
  transition-duration: 1s;
}
.menu:hover ul li:nth-child(4) {
  transition-duration: 1.5s;
}
.menu:hover ul li:nth-child(5) {
  transition-duration: 2s;
}
.menu:hover ul li:nth-child(6) {
  transition-duration: 2.5s;
}
.footer {
  display: flex;
  width: 100%;
  height: 300px;
  border-top: 2px solid #f23030;
  box-shadow: 0 -3px 5px #f23030;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: space-around;
  align-items: center;
}
.footlogo {
  height: 100%;
  box-shadow: 0.1rem 0.3rem 0.3rem #590202;
  display: flex;
}
.footlogo > img {
  max-width: fit-content;
  height: 100%;
}
.footwrap p {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  text-shadow: 0.2rem 0.3rem 0.3rem #590202;
}
.footportal {
  width: 400px;
  height: 100%;
  left: 80%;
}
.footsns {
  width: 100%;
  margin: 5px;
}
.footsns p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.3rem 0.3rem 0.3rem #590202;
}
.footimgwrap a img {
  margin: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.footemail p {
  color: #000;
}
.main {
  width: 100vw;
  height: 700px;
  position: relative;
  padding-top: 160px;
}
.main_b {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px 5px #f23030;
}
.main_b_b {
  width: 25px;
  height: 25px;
  border-radius: 15px 50px 15px 50px;
  /*   background: linear-gradient(
      45deg,
      rgb(139, 186, 142),
      rgb(236, 228, 177),
      rgb(139, 186, 142)
    ); */
  background-color: rgb(220, 244, 181);
  margin: 0 30px;
  cursor: pointer;
}
.main_b_b.click {
  transition: all 1s;
  /*   background: linear-gradient(
      45deg,
      rgb(83, 4, 4) 42%,
      rgb(1, 1, 1) 50%,
      rgb(83, 4, 4) 58%
    ); */
  background-color: #590202;
  width: 30px;
  height: 30px;
  border-radius: 20px 50px 20px 50px;
}
.main_p {
  width: 100vw;
  height: 640px;
  position: relative;
  box-shadow: 0 -3px 5px #f23030;
}
.main_p ul {
  list-style: none;
  width: 100vw;
  height: 640px;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
}
.main_btn {
  position: absolute;
  cursor: pointer;
  opacity: 0.1;
  z-index: 999;
  top: 50%;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
.main_btn:hover {
  transition: 1s;
  opacity: 1;
}
.main_ul_wrap {
  width: 100vw;
  height: 100%;
  display: flex;
  transition: all 2s;
}
.main_p ul li {
  min-width: 100vw;
  min-height: 640px;
  display: flex;
}
.main_item {
  min-width: 50vw;
  height: 640px;
}
.main_i_wrap {
  min-width: 50vw;
  height: 640px;
  display: inline-flex;
  flex-direction: column;
}

.main_item > div {
  width: 50%;
  height: 640px;
  box-shadow: 0 -3px 5px #f23030;
}
.main_item > div > img {
  width: 100%;
  height: 640px;
  box-shadow: 0 -3px 5px #f23030;
}
.main_i_title {
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.title1 {
  padding-top: 40px;
  height: 200px;
  line-height: 30px;
}
.title1 div h1 {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: silver;
  text-shadow: 0 2px 3px #260101;
}
.title1 div h2 {
  color: antiquewhite;
}
.title2 {
  height: 440px;
  font-size: 15px;
}
.post {
  display: flex;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100vw;
  height: 90vh;
}

.p_nav {
  position: relative;
  margin-left: 100px;
  width: 10%;
  height: 50%;
  border: 1px solid black;
  padding-top: 70px;
}
.p_nav ul {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
  display: block;
}
.circle {
  position: absolute;
  width: 60%;
  height: 20%;
  top: 0;
  border-radius: 20px 5px 5px 20px;
  background-color: #590202;
  opacity: 0.3;
  transition: 0.5s;
}
.p_nav ul li {
  position: relative;
  width: 100%;
  height: 20%;
  padding-top: 15px;
  padding-left: 50px;
  text-align: center;
}
.p_nav ul li:nth-child(1).click ~ .circle {
  transform: translateY(calc(100% * 0));
}
.p_nav ul li:nth-child(2).click ~ .circle {
  transform: translateY(calc(100% * 1));
}
.p_nav ul li:nth-child(3).click ~ .circle {
  transform: translateY(calc(100% * 2));
}
.p_nav ul li:nth-child(4).click ~ .circle {
  transform: translateY(calc(100% * 3));
}
.p_nav ul li label {
  cursor: pointer;
}
.p_main {
  width: 80%;
  height: 100%;
  border: 1px solid black;
}
.p_m_search {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.p_m_s_cate {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}
.p_m_s_cate select {
  width: 50%;
  height: 50%;
  font-size: 16px;
  text-align: center;
}
.p_m_s_title {
  width: 50%;
  height: 100%;
  padding-top: 10px;
}
.p_m_s_title input {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 16px;
}

.p_m_s_btn {
  width: 10%;
  height: 100%;
  padding-top: 10px;
}
.p_m_s_btn button {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
.p_m_main {
  display: flex;
  width: 100%;
  height: 80%;
}
.p_m_m_chart {
  width: 85%;
  height: 100%;
}
.p_m_m_chart ul {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
  height: 8%;
}
.p_m_m_chart ul li {
  padding: 10px;
  height: 100%;
}
.p_m_m_c_page li {
  font-size: 16px;
  font-weight: 600;
}
.p_m_m_c_cate {
  width: 15%;
}
.p_m_m_c_num {
  width: 10%;
}
.p_m_m_c_title {
  width: 40%;
}
.p_m_m_c_title a:hover {
  color: #f23030;
  font-weight: 800;
  transition: 0.5s;
}
.p_m_m_c_admin {
  width: 10%;
}
.p_m_m_c_focus {
  width: 10%;
}
.p_m_m_c_date {
  width: 15%;
}
.p_m_m_sub {
  width: 15%;
  height: 100%;
}
.p_m_page {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.p_m_p_btn {
  width: 10%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
.p_m_p_btn img {
  cursor: pointer;
}
.p_m_p_num {
  width: 40%;
  height: 100%;
}
.p_m_p_num ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.p_m_p_num ul li {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.click {
  color: #f23030;
  font-weight: 700;
  font-size: 20px;
  transform: translateX(-60px);
  transition: 0.5s;
  transform-origin: left;
}

.profile {
  position: absolute;
  padding: 20px;
  width: 200px;
  height: 250px;
  background-color: #fff;
  text-align: center;
  transition: all 0.5s;
}
.profileimg {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.profilename {
  width: 150px;
  height: 30px;
  display: flex;
}
.profilelevel {
  width: 150px;
  height: 30px;
  display: flex;
}
.mousein {
  display: block;
}
.mouseout {
  display: none;
}
#nowpage {
  font-size: 20px;
  font-weight: 600;
}
